{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

    <h1>{% trans 'welcome'|capfirst %} !</h1>

    {% if request.user.is_authenticated %}
        <p>
            {% blocktrans trimmed with user=request.user %}
                Authenticated as {{ user }}.
            {% endblocktrans %}
        </p>
    {% else %}
        {% url 'accounts:login' as login_url %}
        <p>
            {% blocktrans trimmed with login_url=login_url %}
                Not authenticated. <a href="{{ login_url }}">Click here</a> to log in.
            {% endblocktrans %}
        </p>
    {% endif %}

{% endblock %}
