<!doctype html>
{% load staticfiles %}
{% load i18n %}
{% load bootstrap4 %}


{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>{% trans 'project'|title %}</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap4/cyborg/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">

        <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"> </script>

        {% block style %}
        {% endblock style %}

    </head>
    <body>

        {% if request.user.is_authenticated %}
            {% include 'navbar_user_logged.html' %}
        {% else %}
            {% include 'navbar_user_not_logged.html' %}
        {% endif %}

        <div class="container">

            {% if messages %}
                <br>
                {% bootstrap_messages %}
                <br>
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>

        {% block script %}
        {% endblock %}

    </body>
</html>
